body{
    font-size: 20px;
    font-family: 'Do Hyeon', sans-serif;
    background-color: darkgrey;
}
#quiz{
    display: none;
}
#score{
    display: none;
}

#container{
    margin : 100px auto;
    background-color: white;
    height: 450px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 0px;
    position: relative;
}
#start{
    font-size: 3em;
    font-weight: bolder;
    word-break: break-all;
    width:inherit;
    height:430px;
    border : 20px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    color : lightgrey;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: brown;
    border-radius: 5px;
}
#start:hover{
    border: 5px solid gray;
    color : gray;
}

#qImg{
    width : 200px;
    height : 225px;
    position: absolute;
    left : 0px;
    top : 0px;
}
#qImg img{
    width : 200px;
    height : 225px;
    border-top-left-radius: 5px;
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
    background-color: gray;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    text-align: center;
}

#choices{
    display: flex;
    flex-direction: column;
    display: flex;
    width : 480px;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid gray;
    font-weight: bold;
}

#timer{
    position: absolute;
    height : 225px;
    width : 200px;
    bottom : 0px;
    text-align: center;
    background-color: gray;
}
#counter{
    font-size: 3em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 380px;
    position: absolute;
    bottom : 0px;
    right : 60px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : auto;
    background-color: white;
    opacity: 0.9;
    height: 430px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 0px;
    position: relative;
    display: none;
}
#scoreContainer img{
    position: absolute;
    top:117px;
}
#scoreContainer p{
    position: absolute;
    display: flex;
    height :59px;
    top:220px;
    font-size: 1.7em;
    font-weight: bold;
    text-align: center;
}
#A{
    margin: 3px;
    font-size: 20px;
}
#B{
    margin: 3px;
    font-size: 20px;
}
#C{
    margin: 3px;
    font-size: 20px;
}
#D{
    margin: 3px;
    font-size: 20px;
}
#text{
    display: flex;
    justify-content: center;
}
